<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="https://sts-5s7p.onrender.com/STS-Frontend-Website/images/WhatsApp_Image_2023-05-14_at_14.34.50-removebg-preview.png"/>
    <title>Forgot Password for STS</title>
    <style>
      .signupSection {
        background: url(https://sts-5s7p.onrender.com/STS-Frontend-Website/images/photo-1457365050282-c53d772ef8b2.jpg);
        background-repeat: no-repeat;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
        width: 800px;height: 450px;text-align: center;display: flex;color: white;
        box-shadow: 3px 10px 20px 5px rgba(109 91 37 / 86%);
      }
      .info {width: 45%;background: rgba(20, 20, 20, 0.8);padding: 9px 15px;border-right: 5px solid rgba(30, 30, 30, 0.8);}
      .info h2 {padding-top: 20px;font-weight: 300;color: goldenrod;font-weight: bold;}
      .info p { font-size: 18px;}
      .info img {width: 130px;height: auto;}
      .signupForm {width: 70%;padding: 30px 0;background: rgba(20, 40, 40, 0.8);transition: 0.2s;}
      .signupForm h2 {font-weight: 300;}
      .inputFields {
        margin: 15px 0;font-size: 16px;padding: 10px;width: 250px;border: 1px solid #0ab4b4;border-top: none;
        border-left: none;border-right: none;background: rgba(20, 20, 20, 0.2);color: white;outline: none;
      }
      .noBullet {list-style-type: none;padding: 0;}
      #join-btn {
        border: 1px solid goldenrod;background: rgba(20, 20, 20, 0.6);font-size: 18px;color: white;
        margin-top: 20px;padding: 10px 50px;cursor: pointer;transition: 0.4s;}
      #join-btn:hover {background: rgba(20, 20, 20, 0.8);padding: 10px 80px;}
      @media (max-width: 800px) {
        .signupSection {width: 95%;height: auto;flex-direction: column;}
        .info, .signupForm {width: 100%;padding: 10px;}.inputFields {max-width: 100%;}
      }
      @media (max-width: 756px) {.signupSection {width: 99%;}}
      @media (max-width: 678px) {.signupSection { width: 98%;}}
      @media (max-width: 617px) {.signupSection {width: 97%;}}
      @media (max-width: 566px) {.signupSection { width: 96%;}} 
      @media (max-width: 523px) {.signupSection { width: 95%; }} 
      @media (max-width: 426px) {.signupSection { width: 92% !important;}} 
      @media (max-width: 397px) {.signupSection { width: 90% !important;}} 
    </style>
</head>

<body>
    <div class="signupSection">
      <div class="info">
        <h2>Special Talent Stars</h2>
        <img src="https://sts-5s7p.onrender.com/STS-Frontend-Website/images/WhatsApp_Image_2023-05-14_at_14.34.50-removebg-preview.png" alt="logo">
        <p>
          Please Note that this form will be no more available after submitting your new password, 
          and the link in your mail that makes you come to this form is invalid now, 
          So don't with this chance to change your password be careful and never forget it again ...
        </p>
      </div>
      <form action="#" method="POST" class="signupForm" name="signupform" id="newPasswordForm" >
        <h2 >Create a New Password</h2>
        <input type="hidden" id="hello" value="{{token}}">
        <ul class="noBullet" >
          <li>
            <label for="password"></label>
            <input type="password" class="inputFields" id="password" name="newPassword" placeholder="Password" value="" oninput="return passwordValidation(),confirmPasswordValidation()" required/>
          </li>
          <li>
              <label for="confirmPassword"></label>
              <input type="password" class="inputFields"  id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" value="" oninput="return confirmPasswordValidation()" required/>
          </li>
          <li id="center-btn">
            <input type="submit" id="join-btn"  name="Submit" alt="Submit" value="Submit">
          </li>
        </ul>
      </form>
    </div>
    <script src="{{process.env.domainName}}/STS-Frontend-Website/forgetpassword.js"></script>
</body>

</html>